* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

th img {
    width: 150px;
}

h2 {
    margin: 15px 0px 35px;
}

table {
    margin-bottom: 50px;
}

td {
    text-align: center;
    padding: 30px 20px;
    font-size: 20px;
    font-weight: 500;
    width: 170px;
}

.first-table {
    table {
        border-collapse: collapse;
    }

    th {
        border-bottom: 1px solid #A593FF;
        padding-bottom: 25px;
    }
    
    td {
        border-bottom: 1px solid #A593FF;
    }
    
    td:first-child {
        border-right: 1px solid #A593FF; 
    }
}

.second-table {
    table {
        background-image: url('./assets/background-gradient.png');
    }

    th {
        background-color: #ffffff;
        padding: 25px;
    }

    td {
        background-color: #ffffff;
    }
}

