* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #075D9B;
}

.main-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.main-menu li a{
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding-right: 35px;
    text-decoration: none;
    list-style-type: none;
}

.container {
    display: flex;
    padding: 50px 50px 0px 100px;
}

.col-left {
    width: 100%;
}

.col-right {
    width: 750px;
}

.destaque {
    width: 485px;
    font-size: 44px;
}

strong {
    border-bottom: 4px solid #075D9B;
}

.time-spend {
    display: flex;
    margin-top: 25px;
    gap: 40px;
}

.time-spend p {
    font-size: 13px;
    color: #8A8A8A;
    font-weight: 400;
}

.img-destaque {
    border-radius: 25px;
    box-shadow: -3px -3px 29px 49px rgba(242,216,216,0.75);
    -webkit-box-shadow: -3px -3px 29px 49px rgba(242,216,216,0.75);
    -moz-box-shadow: -3px -3px 29px 49px rgba(242,216,216,0.75);
}

.image-content {
    width: 100%;
    margin-top: 60px;
}

.text-description {
    font-size: 18px;
    margin-bottom: 25px;
}

.img-content {
    text-align: center;
    margin-bottom: 50px;
}