* {
    font-family: "Roboto", sans-serif;
}

.square {
    width: 100px;
    height: 100px;
    background-color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    margin: 15px;
    transition: all 1s ease-in 1s;
}

.square:hover {
    background-color: black;
    margin-left: 50px;
}