html {
    background-color: #EAEAEA;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
}

nav {
    display: flex;
}

img {
    pointer-events: none;
}

.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/assets/Hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sectionbanner {
    flex: 1;
}

.title-banner {
    font-size: clamp(30px, 4vw + 1.5rem, 100px);
}

.default-button {
    text-decoration: none;
    padding: 10px 65px;
    color: #fff;
    border-radius: 35px;
}

.btn-blue {
    background-color: #0540f2;
}

.btn-blue:hover {
    background-color: #032ca9;
    transition: 0.5s;
}

.btn-outline {
    border: 1px solid #fff;
}

.btn-outline:hover {
    border: 1px solid #d8d8d8;
    transition: 0.5s;
    background-color: #d8d8d8;
}

/* About Us */

#about-us, #our-course, #our-admission, #our-blog, #contact-us {
    padding-top: 120px;
    background-color: #EAEAEA;
}

.title-about-us, .title-our-course, .title-our-blog {
    color: #0540F2;
}

.box {
    background-color: #fff;
    border-radius: 25px;
    padding: 30px 0px;
    max-width: 190px;
}

.box-student {
    padding: 30px;
}

.number{
    color: #0540F2;
}

.box-blue {
    background-color: #0540F2;
    border-radius: 35px;
}

/*  */

.checkbox {
    margin-left: 70px;
    line-height: 50px;
}

.checkbox::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    /*border-radius: 10px;
    background-color: #0540F2;*/
    left: 10px;
    background-image: url('/assets/check.png');
    background-repeat: no-repeat;
}

#our-admission {
    padding-bottom: 100px;
}

/* */

#testimonial, footer {
    background-color: #0540F2;
}

.carousel-caption {
    position: relative !important;
    right: 0 !important;
    left: 0 !important;
}

/* Blog */

.blog-card {
    background-color: #fff;
    border-radius: 25px;
}

.title-blog {
    color: #0540F2;
}

footer a {
    text-decoration: none;
}

@media (max-width: 575.98px) { 
    .checkbox {
       line-height: 32px;
    }

    .btn-center {
        margin-left: auto;
        margin-right: auto;
    }

}


@media (max-width: 767.98px) { 
    .box.box-student.translate-middle {
        transform: translate(-120%, -50%) !important;
    }

    .courses-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 35px;
    }

    .box {
        padding: 30px 20px;
    }

}

@media (min-width: 768px) and (max-width: 1199.98px) {  
    .btn-responsive{
        padding: 10px 40px;
    }
    
}
